/champHTML.class.php
/formulaire.class.php
/input.class.php
/SetPlaceholder.class.php
/setSpecialAttribute.class.php
/SetValue.class.php
/SpecialAttribute.class.php
/text.class.php
/textarea.class.php
